body {
  background: url('assets/img/m6.jpg')
}
.container {
  margin-top: 5rem;
  max-width: 30rem;
  background: radial-gradient(
    circle,
    rgb(252, 205, 238) 0%,
    rgb(184, 78, 110) 100%
  );
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgb(224, 165, 198);
}
#weatherwidget {
  min-height: 18rem;
  background: rgb(212, 145, 179);
  border-radius: 5px;
}
.card {
  width: 100%;
}
.card .card-subtitle {
  font-size: 4rem;
}
.card .cel:after {
  content: "°C";
  position: absolute;
  font-size: 2.5rem;
  margin-top: 0.3rem;
  font-weight: 400;
}
.card .far:after {
  content: "°F";
  position: absolute;
  font-size: 2.5rem;
  margin-top: 0.3rem;
  font-weight: 400;
}
.units a {
  color: #666;
  text-decoration: none;
}
.units a.active {
  color: #ccc;
}
